.cart-place-order-container {
  display: flex;
  justify-content: center;
}

.cart-list-container {
  padding-left: 0;
  width: 80%;
}

.order-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-total-container {
  display: flex;
  flex-direction: column;
}

.place-order-button {
  align-self: flex-end;
}

.payment-successfulView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
